.sliderContent{
  height: 40%;
  width: 100%;
}

.imageContainer{
  width: 100%;
  position: relative;
}

.sliderArrowLeft{
  position: absolute;
  left: 0;
  top: 50%;
  width: 5%;
  height: 10%
}

.sliderArrowRight{
  position: absolute;
  right: 0;
  top: 50%;
  width: 5%;
  height: 10%
}

.imageContainer h1 {
  position: absolute;
  top: 40%;
  right: 40%;
  color: #FFFFFF;
  font-size: 80px;
  font-weight: bold;
}

.listAventure:before{
  display: block;
}

.content-top ul{
  text-align: center;
  padding: 0;
}

.content-top li{
  width: 20%;
  margin-left: 1%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  text-align: center;
}

.content-top li img {
  width: 100%;
  height: auto;
}

.textImageAventure{
  position: absolute;
  top: 40%;
  width: 100%;
  visibility: visible;
  text-align: center;
}
