.sliderContent{
  height: 40%;
  width: 100%;
}

.imageContainer{
  width: 100%;
  position: relative;
}

.sliderArrowLeft{
  position: absolute;
  left: 0;
  top: 50%;
  width: 5%;
  height: 10%
}

.sliderArrowRight{
  position: absolute;
  right: 0;
  top: 50%;
  width: 5%;
  height: 10%
}

.imageContainer h1 {
  position: absolute;
  top: 40%;
  right: 40%;
  color: #FFFFFF;
  font-size: 80px;
  font-weight: bold;
}
