
/* botón social */
#btnSp{
	outline: 0;
	margin-right: 10px;
}
#btnSp:hover {
	opacity: 0.7;
}

/* Botones Comprar y silder */
.boton{
	font-size:16px;
	color:white;
	background:black;
	border:0px;
	padding: 4px;
}
input:hover{
 opacity: 0.7;
}
